*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
button{
    padding: 15px;
    font-size: large;
    border-radius: 5px;
    background-color: rgba(207, 220, 252);
    color: rgb(38, 0, 95);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 5px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(206, 217, 246);
}